
body {
    font-family: 'Inclusive Sans', sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    }

        
header {
    background-color: #333;
    padding: 20px;
    color: #fff;
        }
        
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex; /*горизонтального выравнивание */
        }
        
nav li {
    display: inline;
    margin-right: 20px; /*отступ между пунктами меню*/
        }
        
nav a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    }

        
main {
    padding: 20px;
    }
        
footer {
    background-color: #333;
    padding: 20px;
    color: #fff;
    text-align: center;
        }
        
img {
    max-width: 20%;
    height: auto;
    margin-bottom: 10px;
    }
        
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    }
        
th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    }
        
th {
    background-color: #f2f2f2;
    }

    figcaption { /* настройка подписи к картинке */
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        margin-top: 10px;
      }



/* Обрамление и центрирование формы обратной связи */
.feedback-form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Отделение строк в столбце */
.form-group {
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.form-group:last-child {
    border-bottom: none; /* Убираем линию после последней строки */
}


/* Стили для формы обратной связи */
.feedback-form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #333; 
    color: #fff; 
    padding: 20px;
    border: 1px solid #fff; /* Белое обрамление */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Отделение строк в столбце */
.form-group {
    margin-bottom: 20px;
    border-bottom: 1px solid #fff; /* Белая линия разделения */
    padding-bottom: 10px;
}

.form-group:last-child {
    border-bottom: none; /* Убираем линию после последней строки */
}

 /* Стилизация кнопки Вход */
.login-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    }

.login-button:hover {
    background-color: #0056b3;
    }
